
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.input-section {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  padding: 15px;
  margin-top: auto;
}
.input-buttons {
  display: flex;
  gap: 3vh;
  margin-left: 3vh;
  margin-right: 3vh;

}
.send-button{
  border-radius: 10px;
  box-shadow: #213547 0px 0px 5px;
  background-color: #9c66ef;
}

.text-input {
  border-radius: 10px;
  width: 70%;
  max-height: 15vh;
  resize: none;
  overflow-y: auto;
  padding: 15px;
  font-size: 25px;
  line-height: 1.5;
  box-sizing: border-box;
}
.right-bar {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: auto;
  margin-right: 2em;
  height: auto;
  width: auto;
  right: 0;
  top: 7vh;

}
.language-selector {
  display: flex;
  align-items: center;
  margin-top: 15px;
  border-radius: 15px;
}

.language-label {
  padding: 2rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}





