
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  position: relative; /* umożliwia pozycjonowanie innych elementów */
}

.input-section {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  padding: 15px;
  margin-top: auto;
}
.input-buttons {
  display: flex;
  gap: 3vh;
  margin-left: 3vh;
  margin-right: 3vh;

}
.send-button{
  border-radius: 10px;
  box-shadow: #213547 0px 0px 5px;
  background-color: #9c66ef;
}

.text-input {
  border-radius: 10px;
  width: 70%;
  max-height: 15vh;
  resize: none;
  overflow-y: auto;
  padding: 15px;
  font-size: 25px;
  line-height: 1.5;
  box-sizing: border-box;
}
.right-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: 2em;
  height: auto;
  width: auto;
  right: 0;
  top: 7vh;

}
.language-selector {
  display: flex;
  align-items: center;
  margin-top: 15px;
  border-radius: 15px;
  max-height: 7vh;
}

.language-label {
  padding: 2rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.chatWindow {
  width: 30rem;
  max-width: 40rem;
  margin: 1rem auto;
  padding: 1rem;
  border: 1px solid #444;
  border-radius: 1rem;
  background-color: #1e1e1e;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  color: #e0e0e0;
  overflow: auto;
  max-height: 65vh;
}

.chatTitle {
  font-size: 2rem;
  color: #e0e0e0;
  margin-bottom: 1rem;
}

.tabButtons {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.tabButton {
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  width: 100%;
  border: none;
  border-radius: 0.5rem;
  background-color: #444;
  color: #e0e0e0;
  cursor: pointer;
  transition: background-color 0.3s;
}

.tabButton.active {
  background-color: #9c66ef;
  color: #fff;
}

.section-title {
  font-size: 1.5rem;
  color: #f1f1f1;
  margin: 1rem 0 0.5rem 0;
}

.user-input, .chat-response, .error-item {
  max-width: 70%;
  padding: 0.75rem 1rem;
  margin: 1.5rem 0;
  border-radius: 1rem;
  position: relative;
  word-wrap: break-word;
}

.user-input {
  background-color: #9c66ef;
  color: #000;
  align-self: flex-end;
  margin-left: auto;
}

.chat-response {
  background-color: #c2c2c2;
  color: #000;
  align-self: flex-start;
  margin-right: auto;
}

.error-item {
  background-color: #ff6b6b;
  color: #fff;
  align-self: flex-start;
  margin-right: auto;
}

.placeholder {
  font-style: italic;
  color: #888;
  font-size: 1.25rem;
}

.error-container {
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
}

.error-text {
  color: #ff6b6b;
  font-size: 1.25rem;
}

.correction-text {
  color: #a3e635;
  font-size: 1.25rem;
}

.explanation-text {
  color: #bbb;
  font-size: 1.25rem;
}

.chuj {
  background-color: #242424;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}
.gif {
  position: absolute;
  top: 2rem;
  left: 11rem;
  width: 70rem;
  height: 45rem;
  max-width: 70rem;
  max-height: 45rem;
  padding: 1rem;
  border: 1px solid #444;
  border-radius: 1rem;
  background-color: #1e1e1e;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  color: #e0e0e0;
}
.img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  border-radius: 1rem;
}




